@{
    ViewData["Title"] = "Listado de Pedidos";
}
@model TP03_WebApp.ViewModels.PedidoIndexViewModel

<div class="text-center">
    <h1 class="display-3 mb-3 text-primary">Listado de Pedidos</h1>
    @if (ViewBag.Entrega != null)
    {
        if (!ViewBag.Entrega)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Primero debe asignar un cadete.
                <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                    </svg>
                </button>
            </div>
        }


    }

    @if (ViewBag.Eliminacion != null)
    {
        if (ViewBag.Eliminacion)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Pedido eliminado con éxito!
                <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                    </svg>
                </button>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                No se puede eliminar un pedido sin antes pagarle al cadete.
                <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                    </svg>
                </button>
            </div>
        }
    }

    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Cliente</th>
                <th scope="col">Dirección</th>
                <th scope="col">Estado</th>
                <th scope="col">Asignar Cadete</th>
                <th scope="col">Entregar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pedidos)
            {
                <tr>
                    <th class="align-middle" scope="row">@item.Nro</th>
                    <td class="align-middle">@item.Cliente.Nombre @item.Cliente.Apellido</td>
                    <td class="align-middle">@item.Cliente.Direccion</td>
                    <td class="align-middle">@item.Estado</td>
                    <td class="align-middle">
                        <form class="row justify-content-around" asp-action="AsignarPedidoACadete" asp-controller="Pedido" method="post">
                            @if (item.Estado == TP03_WebApp.Entidades.EstadoPedido.Entregado)
                            {
                                <fieldset disabled>
                                    <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                                    <select class="custom-select-sm" name="idCadete">
                                        <option selected>Seleccionar</option>
                                        @foreach (var cadete in Model.Cadetes)
                                        {
                                            if (cadete.PedidosDelDia.Exists(a => a.Nro == item.Nro))
                                            {
                                                <option selected value="@cadete.Id">@cadete.Apellido (@cadete.PedidosDelDia.Count())</option>
                                            }
                                            else
                                            {
                                                <option value="@cadete.Id">@cadete.Apellido (@cadete.PedidosDelDia.Count())</option>
                                            }
                                        }
                                    </select>
                                    <button type="submit" class="btn btn-sm btn-info">Asignar</button>
                                </fieldset>
                            }
                            else
                            {
                                <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                                <select class="custom-select-sm" name="idCadete">
                                    <option selected>Seleccionar</option>
                                    @foreach (var cadete in Model.Cadetes)
                                    {
                                        if (cadete.PedidosDelDia.Exists(a => a.Nro == item.Nro))
                                        {
                                            <option selected value="@cadete.Id">@cadete.Apellido (@cadete.PedidosDelDia.Count())</option>
                                        }
                                        else
                                        {
                                            <option value="@cadete.Id">@cadete.Apellido (@cadete.PedidosDelDia.Count())</option>
                                        }
                                    }
                                </select>
                                <button type="submit" class="btn btn-sm btn-info">Asignar</button>
                            }
                        </form>
                    </td>
                    <td class="align-middle">
                        <form asp-action="EntregarPedido" asp-controller="Pedido" method="post">
                            @if (item.Estado == TP03_WebApp.Entidades.EstadoPedido.Entregado)
                            {
                                <fieldset disabled>
                                    <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input position-static" type="checkbox" id="entregado" aria-label="..." name="estado" checked>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-success">Entregado</button>
                                </fieldset>
                            }
                            else
                            {
                                <fieldset>
                                    <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input position-static" type="checkbox" id="entregado" aria-label="..." name="estado">
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-success">Entregado</button>
                                </fieldset>
                            }
                        </form>
                    </td>
                    <td class="align-middle">
                        <form asp-action="EliminarPedido" asp-controller="Pedido" method="post">
                            <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                            <button type="submit" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-trash-fill" viewBox="0 0 18 18">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn">
        <a class="btn btn-primary" asp-area="" asp-controller="Pedido" asp-action="RealizarPedido">Nuevo Pedido</a>
    </div>
</div>