@model TP03_WebApp.Models.ViewModels.ClienteIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4 mb-4 text-primary">Hola de nuevo @Html.DisplayFor(model => model.Nombre)</h1>
<div class="text-center">
    <h3 class="display-5 mb-2">Tu Historial de Pedidos</h3>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th class="align-middle" scope="col">Número de Pedido</th>
                <th class="align-middle" scope="col">Observación</th>
                <th class="align-middle" scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.HistorialDePedidos)
            {
                <tr>
                    <th class="align-middle" scope="row">@item.Nro</th>
                    <td class="align-middle">@item.Obs</td>
                    <td class="align-middle">@item.Estado</td>                    
                </tr>
            }
        </tbody>
    </table>
    <div class="btn btn-dark mt-3 text-decoration-none">
        @Html.ActionLink("Realizar Un Pedido", "CrearPedido", "Pedido", new { idCLiente = Model.Id })        
    </div>
</div>