@{
    ViewData["Title"] = "Home Page";
}
@model CadeteIndexViewModel

<h1 class="display-5 mb-4 text-primary">Hola de nuevo: @Html.DisplayFor(model => model.Nombre)</h1>
<hr />
<div class="text-center">
    <h3 class="display-5 mb-2">Pedidos del día</h3>
    <table class="table table-sm table-dark table-striped table-bordered mt-3">
        <thead>
            <tr>
                <th class="align-middle" scope="col">Número</th>
                <th class="align-middle" scope="col">Cliente</th>
                <th class="align-middle" scope="col">Dirección</th>
                <th class="align-middle" scope="col">Observación</th>
                <th class="align-middle" scope="col">Estado</th>
                <th class="align-middle" scope="col">Entregar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PedidosDelDia)
            {
                <tr>
                    <th class="align-middle" scope="row">@item.Nro</th>
                    <td class="align-middle">@item.Cliente.Nombre @item.Cliente.Apellido</td>
                    <td class="align-middle">@item.Cliente.Direccion</td>
                    <td class="align-middle">@item.Obs</td>
                    <td class="align-middle">@item.Estado</td>
                    <td class="align-middle">
                        <form asp-action="EntregarPedido" asp-controller="Pedido" method="post">
                            @if (item.Estado == TP03_WebApp.Entidades.EstadoPedido.Pendiente)
                            {
                                <fieldset>
                                    <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input position-static" type="checkbox" id="checkBox" aria-label="..." name="checkBox">
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-success">Entregado</button>
                                </fieldset>
                            }
                            else
                            {
                                <fieldset disabled>
                                    <input type="hidden" id="idPedido" name="idPedido" value="@item.Nro">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input position-static" type="checkbox" id="checkBox" aria-label="..." name="checkBox" checked>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-success">Entregado</button>
                                </fieldset>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}